@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #141414;
  font-family: "Fira Sans", Arial, sans-serif;
  font-size: 1.5rem;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul li {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}
